<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8" />
    <title>SMART LAB</title>
     <meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

    <link rel="stylesheet" href="{{ url_for('static',filename='assets/plugins/bootstrap/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/theme.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/MoneAdmin.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/plugins/Font-Awesome/css/font-awesome.css') }}" />
     <!--END GLOBAL STYLES -->

    <!-- PAGE LEVEL STYLES -->
    <link href="{{ url_for('static',filename='assets/plugins/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" />

</head>
     <!-- END HEAD -->
     <!-- BEGIN BODY -->
<body class="padTop53 " >

     <!-- MAIN WRAPPER -->
    <div id="wrap">


         <!-- HEADER SECTION -->
        <div id="top">

            <nav class="navbar navbar-inverse navbar-fixed-top " style="padding-top: 10px;">
                <a data-original-title="Show/Hide Menu" data-placement="bottom" data-tooltip="tooltip" class="accordion-toggle btn btn-primary btn-sm visible-xs" data-toggle="collapse" href="#menu" id="menu-toggle">
                    <i class="icon-align-justify"></i>
                </a>
                <!-- LOGO SECTION -->
                <header class="navbar-header">

                    <a href="{{ url_for('static',filename='/dashboard') }}" class="navbar-brand">
                    <img src="{{ url_for('static',filename='assets/img/logo.png') }}" alt="" /></a>
                </header>
                <!-- END LOGO SECTION -->
                <ul class="nav navbar-top-links navbar-right">

                  
                    <!--ADMIN SETTINGS SECTIONS -->

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-user "></i>&nbsp; <i class="icon-chevron-down "></i>
                        </a>

                        <ul class="dropdown-menu dropdown-user">
        
                            <li class="divider"></li>
                            <li><a href="/logout"><i class="icon-signout"></i> Logout </a>
                            </li>
                        </ul>

                    </li>
                    <!--END ADMIN SETTINGS -->
                </ul>

            </nav>

        </div>
        <!-- END HEADER SECTION -->



        <!-- MENU SECTION -->
       <div id="left">
            <div class="media user-media well-small">
                <a class="user-link" href="#">
                    <img class="media-object img-thumbnail user-img" alt="User Picture" src="{{ url_for('static',filename='assets/img/profile.jpg') }}" />
                </a>
                <br />
                <div class="media-body">
                    <h5 class="media-heading"> usr</h5>
                    <ul class="list-unstyled user-info">
                        
                        <li>
                             <a class="btn btn-success btn-xs btn-circle" style="width: 10px;height: 12px;"></a> Online
                           
                        </li>
                       
                    </ul>
                </div>
                <br />
            </div>

            <ul id="menu" class="collapse">

                
                <li class="panel">
                    <a href="/dashboard" >
                        <i class="icon-table"></i> Dashboard
	   
                       
                    </a>                   
                </li>



              
                <li class="panel active"><a href="/instructor"><i class="icon-table"></i>  INSTRUCTOR TABLE </a></li>
               
        </div>
        <!--END MENU SECTION -->


        <!--PAGE CONTENT -->
        <div id="content">

            <div class="inner">
                <div class="row">
                    <div class="col-lg-12">


                        <h2> EDIT INSTRUCTOR DATA</h2>



                    </div>
                </div>

                <hr />


                <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Edit Data
                        </div>
                        <form name="sentMessage" id="contactForm" action = "/editinstructor/{{t[0]}}" method="post" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Teacher Id</label>
                <input type="number" class="form-control" placeholder="Teacher Id" name="teacher_id" required data-validation-required-message="Please enter your id." value="{{t[0]}}" readonly>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Teacher Name</label>
                <input type="text" class="form-control" placeholder="Teacher Name" name="teacher_name" required data-validation-required-message="Please enter your name" value="{{t[1]}}">
                <p class="help-block text-danger"></p>
              </div>
            </div>
			<div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Teacher CNIC</label>
                <input type="text" class="form-control" placeholder="Teacher CNIC"  name="teacher_cnic" required data-validation-required-message="Please enter your section" value="{{t[3]}}">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>Email</label>
                  <input type="email" class="form-control" placeholder="Teacher Email"  name="teacher_email" required data-validation-required-message="Please enter your section" value="{{t[4]}}">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <br>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>Department</label>
                  <input type="text" class="form-control" placeholder="Teacher Department"  name="teacher_department" required data-validation-required-message="Please enter your section" value="{{t[5]}}">
                  <p class="help-block text-danger"></p>
                </div>
              </di
              v>
              <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Done</button>
            </div>
          </form>
		  
			
                       
                            </div>
                           
                        </div>
                    </div>
      
       <!--END PAGE CONTENT -->


    </div>

     <!--END MAIN WRAPPER -->


     <!-- GLOBAL SCRIPTS -->
    <script src="{{ url_for('static',filename='assets/plugins/jquery-2.0.3.min.js') }}"></script>
     <script src="{{ url_for('static',filename='assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
    <!-- END GLOBAL SCRIPTS -->
        <!-- PAGE LEVEL SCRIPTS -->
    <script src="{{ url_for('static',filename='assets/plugins/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
     <script>
         $(document).ready(function () {
             $('#dataTables-example').dataTable();
         });
    </script>
     <!-- END PAGE LEVEL SCRIPTS -->
</body>
     <!-- END BODY -->
</html>
